@charset "UTF-8";
/* productList */

.container {
	min-height: 500px;
}
.arraybox {
   justify-content: center;   
   width : 10%;
   height: 20px;
   margin-right: 50px;
   z-index:5;
   cursor:pointer;
   position:relative;
   float:right;
}
.producbox {
	display : flex;
	justify-content: center;
	width:60%;	
}
#pagingunderbar {
	width:100%; !important;
}
.productList td:hover {
	background-color: #b4b4b4;
}
.productList td {
	height: 400px;

}

.listbox {
	width : 150px;
	height: 20px;
	margin: auto;
}
/**/
.productlist {
	margin-bottom:60px;
}
.productList  td {
	width: 450px;
	height: 360px;
	padding: 15px;
	text-align: left;
}
.productList .im {
	width: 300px;
	height: 360px;
}
.productList img {
	width: 300px;
	height: 360px;
	object-fit: contain;
}
.productList a {
	color: #000;
}

/*상품 검색 및 상품 정렬*/


#keywordbox{
	text-align: center;
	margin-bottom:10px;

}
#keyword{
	width: 650px;
	height: 50px;
	padding-left: 10px;
	margin-right: 10px;
	border: none;
	outline: none;
}
#keywordbutton{
	width: 75px;
	height: 50px;
	background-color: peru;
	color: white;
	border: none;
	
}
	
#typebox{
	margin:auto;
	text-align: center;
	width: 730px;
	height: 30px;
	display: none;
}

#colorcheckbox{
	float:left;
	margin-right:50px;
}

#typecheckbox{
	float:left;
	margin-right:50px;
}
#productradio{
	float:left;
	
}



