@charset "UTF-8";
#topbox{
	display: flex;
	align-items: left;
	color:black;
}


/* 이미지 css*/
#imagebox{
	width: 600px;
	height: 732px;
}

#mainImg{
	width: 510px;
	height: 490px;
	margin-bottom: 10px;

}

.subImg{
	width: 100px;
	height: 100px;
	margin-right: 7px;
}

/* 상품상세 */
#productregister{
	border: none;
	background-color: #69737A;
	color: white;
	width:60px;
	height:23px;
	margin-left:5px;
}

#productupdate{
	border: none;
	background-color: #69737A;
	color: white;
	width:60px;
	height:23px;
	margin-left:5px;
}

#productdelete{
	border: none;
	background-color: #69737A;
	color: white;
	width:60px;
	height:23px;
	margin-left:5px;
}

#productdetailbox{
	width: 550px;
	height: 550px;
}

#product_name{

}

#name{
	font-weight: 400;
	font-size: 30px;

}
#size{
	font-size: 15px;
}


#product_price{
	display: flex;
	justify-content: space-between;
	margin-top:15px;
	border-top:1px solid #69737A;
	border-bottom:1px solid #D3D9DE;
	padding: 3px 0 3px 0;
}

.pricename{
	font-size:15px;
	font-weight: 550;
}

.price{
	font-size: 25px;
}

#product_option{
	display: flex;
	justify-content: space-between;
	
}

#product_amout{
	border: 1px solid #D3D9DE;
	width:280px;
	border-left: none;
	padding-top: 10px;
	height:100px;
}
.amount{
 display: inline-block;
}

#amountbutton{
 width:25px;
 height:25px;
 border:none;
 background-color:#8D999E;
 color: white;

}

#product_type{
	border: 1px solid #D3D9DE;
	width:280px;
	border-right: none;
	padding-left: 15px;
	padding-top: 10px;
	height:100px;
}

#product_option p{
	font-size: 20px;
	display: inline-block;
}

#colorbox{
	width:25px;
	height:25px;
	display: inline-block;
	border: 1px solid black;
}

#totalproduct_price{
	margin-top:10px;
	border-top:1px solid #69737A;
	border-bottom:1px solid #69737A;
	height: 150px;
	width: 550px;
	text-align: right;
}

#totalprice1{
	display: inline-block;
	margin-top: 55px;
	font-size: 30px;
	color:#69737A;
}

#totalprice2{
	font-size: 38px;
	color:black;
}

/*주문 버튼 영역*/
#buttonbox{
	display: flex;
	margin-top: 18px;
}

#cartbutton{
	width: 270px;
	height: 57px;
	margin-right: 11px;
	border: 1px solid black;
	background-color: white;
	color:#69737A;
	font-size:21px;
	}
#orderbutton{
	width: 270px;
	height: 57px;
	background-color: #69737A;
	border: none;
	color:white;
	font-size:21px;
}


/* 추천상품 영역 */
#recommendlist{
	margin-bottom: 20px;
}

#recommendlist td{
	margin-right:7.5px;
	margin-left:7.5px;
	
}

#recommendlist td img{
	width: 370px;
	height: 370px;
	margin-right:15px;
}

#recommendlist td div a{
	color:black;
}
