@charset "UTF-8";

#topbox{
	display: flex;
	align-items: center;
}


/* 이미지 css*/
#imagebox{
	margin-left:100px;
	margin-right: 50px;

	width: 450px;
	height: 550px;
}

#mainImg{
	width: 430px;
	margin-bottom: 10px;
	border: 1px solid black;
	padding: 5px;
}

#subImg{
	width: 95px;
	margin-left:3px;
	margin-right: 5px;
}

/* 상품상세 */
#productdetailbox{
	width: 460px;
	height: 550px;
	border: 1px solid black;

}