@charset "UTF-8";

/*관리자 페이지*/
label input {
  display: inline-flex;
  align-items: center;
}


input[type='radio']:checked {
  appearance: none;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 100%;
  margin-right: 0.1rem;
}

input[type='radio'] {
  background-color: white-color;
  border: 2px solid black;
}
input[type='radio']:checked {
  background-color: #9a9a9a;
}
#listRemoveBtn {
	background-color: #69737A;
	border: none;
	color:white;
	width:80%;
	
}
#productregister {
	background-color: #69737A;
	border: none;
	color:white;
	font-size:1.2em;
	padding:5px;
	border-radius:30px;
	
}
table {
	width:800px; !important;
	display:inline-block;
	text-align:center;	
	border:10px solid #9a9a9a;
}
table .thead td {
	background:#9a9a9a;
	color:white;
	border:none;
}
table tr td {
	border:1px solid black;
	width:800px;
}
#pdtable {
	text-align:center;
}
/*관리메뉴*/
#admintitle *{
	display:inline-block;
	padding-left:50px;
	padding-right:50px;
	
	color: black;
	margin: 0 20px 0 20px;
	padding-bottom: 3px;
}
#admintitle2 *{
	display:inline-block;
	padding-left:50px;
	padding-right:50px;
	
	color: black;
	margin: 0 20px 0 20px;
	padding-bottom: 3px;
}
#admintitle3 *{
	display:inline-block;
	padding-left:50px;
	padding-right:50px;
	
	color: black;
	margin: 0 20px 0 20px;
	padding-bottom: 3px;
}
img {
	objecy-fit:fill;
	height:50px;
}

#admintable2 {
	margin-bottom:500px;
}

#admintable3 {
	margin-bottom:500px;
}
