@charset "UTF-8";


* {
	margin:0;
	padding:0;
}
#cartListbox {
	text-align:right;
	border:none;
	background-color:white;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 1139.2px;
}
.ordersub {
	display:inline-block;
	margin-bottom:10px;
	margin-top:10px;
	margin-right:20px;
}

.cartImg{
	width: 100px;
	height:100px;
}

#orderListBox{
	margin-bottom:30px;
}

#orderListTable {
	border:none;
	background-color:white;
	width:100%;
	
}
#orderListTable tr td{
	border-bottom: 1px solid #ccc;
	text-align:left;
	font-size:18px;
}

.amount{
 display: inline-block;
}

#countbutton{
	width:60px;
	height:25px;
	font-size: 15px;
	display:block;
	margin: 0 auto;
}

.orderbutton{
	width:60px;
	height:25px;
	font-size: 15px;
	display:block;
	margin: auto;
	margin-bottom: 10px;
}

#amountbutton{
 width:25px;
 height:25px;
 border:none;
 background-color:#8D999E;
 color: white;
}

#orderListTable tr th{
	text-align:center;
	height:50px;
	border-bottom: 1px solid #ccc;
	font-size: 22px;
}

#orderCountBox {
	height:50px;
	margin-bottom:30px;
	text-align:right;
}


#orderCountTable {
	height:200px;
	width:100%;
}
#orderCountTable tr td{
	position:inline-block;
	border:1px solid black;

}
#orderbtnBox {
	width:500px;
	height:100px;
	margin-right:150px;

}
#orderbtnBox input{
	width:200px;
	height:60px;
	float:right;
	margin-right:20px;
}

/*주문서 작성 페이지*/

#userInfoArea {
	border:5px solid #9a9a9a;
}
#userInfoTable tr td{
	padding-bottom:30px;
}
#userInfoTable tr{
	border-bottom:1px solid #9a9a9a;
}
#orderSumaryDiv {
	position:sticky;
	top:50px;
}
#orderSumaryTable {
	background:white;
	border:8px solid #9a9a9a;
}
#payMethod td {
	display:flex;
	float:left;
}
#payMethod td button {
	width:200px;
}
#personalInfoDetailDiv {
	color:white;
	border:1px solid black;
	width:350px;
	height:0px;
	background-color: #9a9a9a;
	z-index:3;
	overflow:hidden;
	transition-property: height;
    transition-duration: 0.5s, 2s;
}
#deliveryDetailInfodiv {
	border:1px solid black;
	width:350px;
	height:0px;
	background-color: #9a9a9a;
	z-index:3;
	overflow:hidden;
	transition-property: height;
    transition-duration: 0.5s, 2s;
    color:white;
}
#orderOkDetail {
	border:1px solid black;
}
#payMethodInfodiv {
	border:1px solid black;
	width:730px;
	height:0px;
	background-color: #9a9a9a;
	z-index:3;
	overflow:hidden;
	transition-property: height;
    transition-duration: 0.5s, 2s;
    color:white;
}
.orderSumaryTr {
	font-size:1.3em;
	background:white;
}

