@charset "UTF-8";
/* top menu */
 * {
 	margin:0;
 	padding:0;
 }
 body {
	background-color: #d4c6bb;
 }
/**/
*{
	padding:0;margin:0
}
li{
	list-style:none
}
a{
	text-decoration:none;
	font-size:14px;
	color:white;
}
a:hover {
	color:black;
	text-decoration:none;
}
#myNav {
	margin-bottom:80px;
	
}
/*네브2*/
#nav2 {
	text-align:right;
	height:40px;
	width:93%;
}
#nav2 li {
	height:40px;
}
#nav2 li a{
	margin-right:20px;
}

/*네브3*/
#nav3 {
	background-color: #d4c6bb;
	height:40px;	
	width:100%;
	text-align: center;
}
#login {
	margin-left:100px;
	padding:50px;
}
.menu {
  width: 800px;
  overflow: hidden;
  text-align:center;
  margin: 0 auto;
  
}

.menu > li {
  width: 160px;
  float: left;
  line-height: 40px;
  background-color: #d4c6bb;
  color:black;
  position:relative;
  text-align:center;
}
.submenu > li {
  line-height: 50px;
   background-color: #baa593;
}

.submenu {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;
}

.submenu1 > li {
  line-height: 50px;
   background-color: #baa593;
}

.submenu1 {
  height: 0; /*ul의 높이를 안보이게 처리*/
  overflow: hidden;
  width:800px;
 
}

	/*네브2 호버*/
.menu > li:hover {
 background-color: #baa593;
  transition-duration: 0.5s;
}

.menu > li:hover .submenu {
  height: auto; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;
}  
.menu > li:hover .submenu1 {
  height: auto; /*서브메뉴 li한개의 높이 50*5*/
  transition-duration: 1s;  
}  

/*모달 로그인 */

 #modal.modal-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(186,165,147,0.5);
        }
        #modal .modal-window {
           	text-align:center;
            width: 400px;
            height: 400px;
            position: relative;
            top: -100px;
            padding: 10px;
            background-color: rgba(186,165,147,0.9);
            border-radius:50px;
            z-index:5;
        }
        #modal .title {
            padding-left: 10px;
            display: inline;
            color: white;
            
        }
        #modal .title h2 {
            display: inline;
        }
        #modal .close-area {
            display: inline;
            float: right;
            padding-right: 10px;
            cursor: pointer;
            color: white;
        }
        
        #modal .content {
            margin-top: 20px;
            padding: 0px 70px;
            color: white;
        }  
		.btn-light {
			color:black;
		}
  
  
  
  
  
  
  
  
  
  