<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.member">

	<resultMap id = "memberResult" type = "com.edu.member.dto.MemberDTO">
		<result property = "userID" column = "userID"/>
		<result property = "pwd" column = "pwd"/>
		<result property = "address1" column = "address1"/>
		<result property = "address2" column = "address2"/>
		<result property = "postnum" column = "postnum"/>
		<result property = "name" column = "name"/>
		<result property = "age" column = "age"/>
		<result property = "phone" column = "phone"/>
		<result property = "hp" column = "hp"/>
		<result property = "gender" column = "gender"/>
		<result property = "email" column = "email"/>
		<result property = "joinDate" column = "joinDate"/>
		<result property = "grade" column = "grade"/>
	</resultMap>
	
	
	<!-- 아이디 중복 검사 : 입력한 아이디가 존재하는지 알아낸다. -->
	<select id = "idCheck" parameterType = "com.edu.member.dto.MemberDTO" resultType ="Integer">
		<![CDATA[
			select count(*)
			from t_member
			where userID = #{userID}
		]]>
	</select>
	
	<!-- 로그인 처리 -->
	<select id = "loginByID" parameterType="com.edu.member.dto.MemberDTO" resultType="com.edu.member.dto.MemberDTO">
		<![CDATA[
		SELECT * FROM t_member WHERE userID = #{userID};
		]]>
	</select>
	
	<!-- 회원 가입 처리 -->
	<insert id="addMember" parameterType="com.edu.member.dto.MemberDTO">
		<![CDATA[
			INSERT INTO t_member 
					(userID, 	pwd,  address1, address2, postnum, name, age, phone, gender, email, joinDate, grade)
			VALUES	(#{userID},	#{pwd}, #{address1}, #{address2}, #{postnum}, #{name}, #{age}, #{phone}, #{gender}, #{email}, sysdate(), 0);
		]]>
	</insert>
	<!-- 마이페이지 회원정보 수정하기 -->
	<update id="update" parameterType="com.edu.member.dto.MemberDTO">
		<![CDATA[
		UPDATE t_member 
		SET		pwd = #{pwd}, address1 = #{address1}, address2 = #{address2}, postnum = #{postnum}, name = #{name}, age = #{age}, phone = #{phone}, gender = #{gender}, email = #{email}
		WHERE	userID = #{userID}
		]]>
	</update>
</mapper>
